<ion-view title="活动详情">
    <ion-content>
        <div class="findXiangqing-img top"><img src="images/active/love_05.jpg" /></div>
        <div class="findXiangqing-title"><span>活动标题:</span><span>烤鸡吃...</span></div>
        <div class="findXiangqing-position"><span>活动地点:</span><span>小区楼底</span></div>
        <div class="findXiangqing-content"><span>活动内容:</span><span>为了开拓幼儿的视野增长知识，亲近大自然感受生活，让幼儿在与大自然的接触中感受春天的季节特征，感受植物成长过程，走进田野感受农家的乐趣，同时为了加强家园联系，增进家园间的彼此交流，本小区策划了“快乐摘草莓亲子活动”.希望大家能够积极参加。
为了开拓幼儿的视野增长知识，亲近大自然感受生活，让幼儿在与大自然的接触中感受春天的季节特征，感受植物成长过程，走进田野感受农家的乐趣，同时为了加强家园联系，增进家园间的彼此交流，本小区策划了“快乐摘草莓亲子活动”.希望大家能够积极参加。
</span></div>
        <div class="findXiangqing-time">
            <div>
                <div>开始时间</div>
                <div>2017-07-08</div>
            </div>
            <div>
                <img src="images/lianjie.png" />
            </div>
            <div class="energized-bg">
                <div>结束时间</div>
                <div>2017-07-09</div>
            </div>
        </div>

        <div class="findXiangqing-join">
           我要参加
        </div>

    </ion-content>
</ion-view>