<ion-view view-title="发现">
    <ion-content>
        <div class="index-find top"><span>活动社</span></span></div>
       <div>
           <div class="index-active"><a href="#/tab/findXiangqing"><img src="images/active/love_05.jpg" /></a></div>
           <div class="index-active-text"><span>吃炸鸡咯哈哈....</span><span>5</span>个人参加<span>2017-07-08</span></div>
       </div>

        <div>
            <div class="index-active"><a href="#/tab/findXiangqing"><img src="images/active/love_05.jpg" /></a></div>
            <div class="index-active-text"><span>吃炸鸡咯哈哈....</span><span>5</span>个人参加<span>2017-07-08</span></div>
        </div>

        <div>
            <div class="index-active"><a href="#/tab/findXiangqing"><img src="images/active/love_05.jpg" /></a></div>
            <div class="index-active-text"><span>吃炸鸡咯哈哈....</span><span>5</span>个人参加<span>2017-07-08</span></div>
        </div>
    </ion-content>
</ion-view>