<ion-view view-title="幸福小区" >
    <ion-content>
        <ion-slide-box active-slide="myActiveSlide" class="top">
            <ion-slide>
                <div class="box blue"><img src="images/index-bg1.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><img src="images/index-bg2.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><img src="images/index-bg3.jpg"/></div>
            </ion-slide>
        </ion-slide-box>

        <div class="gonggao">
            <div><img src="images/laba.png" style="float:left"/></div>
            <div><marquee direction="right">小区着火啦...</marquee></div>
        </div>

        <div class="index-daohang">
            <div>
                <div class="index-daohang-img1"><img src="images/baoxiu.png" /></div>
                <div>物业维修</div>
            </div>
            <div>
                <div class="index-daohang-img2"><img src="images/tousu.png" /></div>
                <div>申报投诉</div>
            </div>
            <div>
                <div class="index-daohang-img3"><img src="images/shiwu.png" /></div>
                <div>失物招领</div>
            </div>
            <div>
                <div class="index-daohang-img4"><img src="images/fuwu.png" /></div>
                <div>物业服务</div>
            </div>
        </div>
        <!---------团购-------------->
        <div class="index-shopping"><span>今日促销</span><a href="#/tab/shopping"><span class="index-shopping-more">更多></span></a></div>
        <div class="index-shopping-content">
            <div>
                <div class="index-shopping-img"><img src="images/shopping/flower01.jpg" /></div>
                <div class="index-shopping-text"><span class="index-shopping-title">红玫瑰</span><span class="index-shopping-price">&yen;11.11</span></div>
                <div class="shopping-buy index-shopping-buy">加入购物车</div>
            </div>
            <div>
                <div class="index-shopping-img"><img src="images/shopping/flower01.jpg" /></div>
                <div class="index-shopping-text"><span class="index-shopping-title">红玫瑰</span><span class="index-shopping-price">&yen;11.11</span></div>
                <div class="shopping-buy index-shopping-buy">加入购物车</div>
            </div>
            <div>
                <div class="index-shopping-img"><img src="images/shopping/flower01.jpg" /></div>
                <div class="index-shopping-text"><span class="index-shopping-title">红玫瑰</span><span class="index-shopping-price">&yen;11.11</span></div>
                <div class="shopping-buy index-shopping-buy">加入购物车</div>
            </div>
            <div>
                <div class="index-shopping-img"><img src="images/shopping/flower01.jpg" /></div>
                <div class="index-shopping-text"><span class="index-shopping-title">红玫瑰</span><span class="index-shopping-price">&yen;11.11</span></div>
                <div class="shopping-buy index-shopping-buy">加入购物车</div>
            </div>
        </div>
        <!--------------最新活动----------------------->
        <div class="index-shopping"><span>小区热线</span></div>
        <div class="index-rexian">门卫室电话:020-11225154</div>
        <div class="index-rexian">医务室电话:020-5246923</div>
        <div class="index-rexian">传达室电话:020-9774561</div>
        <div class="index-rexian">保安室电话:020-4756231</div>
        <div class="index-rexian">维修部电话:020-49871436</div>
        <div class="index-rexian">投诉部电话:020-62584126</div>
    </ion-content>
</ion-view>
