<ion-view title="更多商品">
    <ion-content>

        <div class="shopping-title1">日常用品</div>
        <div class="content has-header ionic-pseudo">

            <div class="list">

                <div class="item item-thumbnail-left" >
                    <img src="images/shopping/life01.jpg">
                    <h2><span>调味瓶/250ml</span></h2>
                    <p class="shopping-p">价格:<span class="shopping-price">&yen;11</span></p>
                    <div class="shopping-buy">加入购物车</div>
                </div>

                <div class="item item-thumbnail-left" >
                    <img src="images/shopping/life01.jpg">
                    <h2><span>调味瓶/250ml</span></h2>
                    <p class="shopping-p">价格:<span class="shopping-price">&yen;11</span></p>
                    <div class="shopping-buy">加入购物车</div>
                </div>

                <div class="item item-thumbnail-left" >
                    <img src="images/shopping/life01.jpg">
                    <h2><span>调味瓶/250ml</span></h2>
                    <p class="shopping-p">价格:<span class="shopping-price">&yen;11</span></p>
                    <div class="shopping-buy">加入购物车</div>
                </div>

                <div class="item item-thumbnail-left" >
                    <img src="images/shopping/life01.jpg">
                    <h2><span>调味瓶/250ml</span></h2>
                    <p class="shopping-p">价格:<span class="shopping-price">&yen;11</span></p>
                    <div class="shopping-buy">加入购物车</div>
                </div>

                <div class="item item-thumbnail-left" >
                    <img src="images/shopping/life01.jpg">
                    <h2><span>调味瓶/250ml</span></h2>
                    <p class="shopping-p">价格:<span class="shopping-price">&yen;11</span></p>
                    <div class="shopping-buy">加入购物车</div>
                </div>

            </div>

        </div>
        <!---------------------------------->
        <div class="shopping-title2">水果</div>
        <div class="content has-header ionic-pseudo">

            <div class="list">

                <div class="item item-thumbnail-left" href="#">
                    <img src="images/shopping/fruit01.jpg">
                    <h2><span>橙子/3个</span></h2>
                    <p class="shopping-p">价格:<span class="shopping-price">&yen;11</span></p>
                    <div class="shopping-buy">加入购物车</div>
                </div>

                <a class="item item-thumbnail-left" href="#">
                    <img src="http://www.runoob.com/try/demo_source/siamese-dream.jpg">
                    <h2>Smashing Pumpkins</h2>
                    <p>Siamese Dream</p>
                </a>

                <a class="item item-thumbnail-left" href="#">
                    <img src="http://www.runoob.com/try/demo_source/nevermind.jpg">
                    <h2>Nirvana</h2>
                    <p>Nevermind</p>
                </a>

                <a class="item item-thumbnail-left" href="#">
                    <img src="http://www.runoob.com/try/demo_source/license-to-ill.jpg">
                    <h2>Beastie Boys</h2>
                    <p>License To Ill</p>
                </a>

                <a class="item item-thumbnail-left" href="#">
                    <img src="http://www.runoob.com/try/demo_source/dookie.jpg">
                    <h2>Green Day</h2>
                    <p>Dookie</p>
                </a>

            </div>
    </ion-content>
</ion-view>