<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="首页" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="生活圈" icon="ion-heart" href="#/tab/life">
        <ion-nav-view name="life-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="发现" icon="ion-android-bicycle" href="#/tab/find">
        <ion-nav-view name="find-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="个人中心" icon="ion-android-contact" ui-sref="tabs.my">
        <ion-nav-view name="my-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>